/*@mixin underline($width, $style, $color) {
  border-bottom: $width $style $color;
}*/
html {
  background: #111321;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  background: #111321;
  color: #fff;
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0; }

section {
  -webkit-transition: background-position 1s ease-out;
  transition: background-position 1s ease-out;
  z-index: 1; }

h1,
h2,
h3,
h4 {
  font-family: "Teko", sans-serif;
  letter-spacing: .15em;
  margin: 0;
  text-transform: uppercase; }

h1 {
  display: inline-block;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1; }

h2 {
  font-size: 2.4rem;
  font-weight: 600; }

h3 {
  font-size: 1.6rem;
  font-weight: 500; }

h4 {
  font-size: 1.3rem;
  font-weight: 400; }

p {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2; }

a {
  color: #fff;
  margin: auto;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

strong {
  font-weight: 600; }

[class^='icon-'] {
  display: inline-block;
  fill: #fff;
  height: 2rem;
  padding: 0 5px;
  -webkit-transition: 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  width: 2rem; }

@-webkit-keyframes fade-in {
  to {
    opacity: 1; } }

@keyframes fade-in {
  to {
    opacity: 1; } }

.container {
  height: 100%;
  min-height: 100vh;
  padding: 5vw;
  position: relative;
  width: 100vw;
  z-index: 1; }

.row {
  margin: 0; }

.nav {
  -webkit-animation: slide-down 2s forwards;
  animation: slide-down 2s forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background: #0d0f1a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  display: block;
  left: 0;
  margin-top: -15vh;
  padding: 10px 20vw 0;
  position: fixed;
  text-align: center;
  top: 0;
  -webkit-transition: ease-out .2s;
  transition: ease-out .2s;
  width: 100%;
  z-index: 3; }

@-webkit-keyframes slide-down {
  to {
    margin-top: 0; } }

@keyframes slide-down {
  to {
    margin-top: 0; } }
  .nav .nav-btn,
  .nav .nav-check {
    display: none; }
  .nav .brand {
    width: 24px; }
    .nav .brand::before {
      display: none; }
    .nav .brand img {
      width: 24px; }
  .nav a {
    color: #fff;
    margin-bottom: -1px;
    padding-bottom: 4px; }
    .nav a::before {
      background-color: #fff;
      bottom: 0;
      content: '';
      height: 1px;
      left: 20%;
      position: absolute;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
      transition: 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
      visibility: hidden;
      width: 60%; }
    .nav a.active, .nav a:hover, .nav a:active, .nav a:focus {
      color: #fbb350; }
      .nav a.active::before, .nav a:hover::before, .nav a:active::before, .nav a:focus::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        visibility: visible; }

.landing {
  -webkit-animation: fade-in 1s forwards;
  animation: fade-in 1s forwards;
  background: #111321 url("../imgs/backgrounds/landing-mountains.webp") no-repeat fixed center;
  background-blend-mode: multiply;
  opacity: 0;
  text-align: center; }
  .landing .container {
    padding-top: 20vh; }
  .landing .logo {
    -webkit-animation: logo-position .5s forwards;
    animation: logo-position .5s forwards;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    margin-top: 15vh;
    max-width: 50vw;
    min-width: 100px;
    width: 10vw; }
    .landing .logo .z-b-w,
    .landing .logo .z-t-w {
      -webkit-animation: logo-animate .5s forwards;
      animation: logo-animate .5s forwards;
      -webkit-animation-delay: .5s;
      animation-delay: .5s;
      fill: #fff;
      opacity: 0; }
    .landing .logo .z-b-r,
    .landing .logo .z-t-r {
      -webkit-animation: logo-animate .5s forwards;
      animation: logo-animate .5s forwards;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      fill: #e24f4f;
      opacity: 0; }
    .landing .logo .z-b-w {
      -webkit-transform: translate(-80px, -80px);
      transform: translate(-80px, -80px); }
    .landing .logo .z-t-w {
      -webkit-transform: translate(80px, 80px);
      transform: translate(80px, 80px); }
    .landing .logo .z-t-r {
      -webkit-transform: translate(180px, 0);
      transform: translate(180px, 0); }
    .landing .logo .z-b-r {
      -webkit-transform: translate(-180px, 0);
      transform: translate(-180px, 0); }
    .landing .logo .k-l,
    .landing .logo .k-t,
    .landing .logo .k-b {
      -webkit-animation: logo-animate .5s forwards;
      animation: logo-animate .5s forwards;
      fill: #fff;
      opacity: 0; }

@-webkit-keyframes logo-animate {
  to {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes logo-animate {
  to {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes logo-position {
  to {
    margin: 0; } }

@keyframes logo-position {
  to {
    margin: 0; } }
  .landing .name,
  .landing .cta {
    -webkit-animation: fade-in .5s forwards;
    animation: fade-in .5s forwards;
    margin-top: 8vh;
    opacity: 0; }
  .landing .name {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
  .landing .cta {
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }
  .landing .specialty {
    -webkit-animation: fade-in .5s forwards;
    animation: fade-in .5s forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    font-weight: 400;
    letter-spacing: .4em;
    opacity: 0; }
  .landing .social {
    -webkit-animation: fade-in .5s forwards;
    animation: fade-in .5s forwards;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    bottom: 5vh;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%; }

.about {
  background: #e24f4f url("../imgs/backgrounds/about.svg") no-repeat center;
  background-size: 100%; }
  .about h1 {
    margin-bottom: 5vh; }
  .about [class^='icon-'] {
    fill: #fbb350;
    height: 60px;
    width: 60px; }
  .about .toolkit {
    background: url("../imgs/texture.png");
    background-blend-mode: soft-light;
    background-color: #111321;
    margin-top: -100px;
    padding: 15px 2vw;
    text-align: center;
    z-index: 2; }
    .about .toolkit h3 {
      padding: 15px; }
    .about .toolkit p {
      font-size: 12px; }
  .about .description {
    background: url("../imgs/texture.png");
    background-blend-mode: soft-light;
    background-color: rgba(251, 179, 80, 0.5);
    margin-top: -475px;
    overflow: hidden; }
    .about .description .me {
      margin-bottom: -5px;
      max-width: 250px;
      width: 100%; }
  .about .description,
  .about .toolkit {
    border: 1px solid #fbb350; }
    .about .description .col-md-2:nth-of-type(odd) svg,
    .about .toolkit .col-md-2:nth-of-type(odd) svg {
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
  .about .separator-left,
  .about .separator-right {
    -webkit-animation: slide-up 2s forwards;
    animation: slide-up 2s forwards;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s; }

.services {
  background: #111321 url("../imgs/backgrounds/services.svg") no-repeat center;
  background-size: 100%;
  text-align: center; }
  .services h1 {
    float: right; }
  .services .service-block {
    min-height: 70vh; }
  .services .service {
    height: 100%;
    min-height: 40vh;
    position: relative;
    text-align: center; }
    .services .service::after {
      background-color: #fbb350;
      content: '';
      height: 50px;
      left: 50%;
      margin-top: -40px;
      pointer-events: none;
      position: absolute;
      -webkit-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      width: 50px;
      z-index: -1; }
    .services .service div {
      background: url("../imgs/texture.png");
      background-blend-mode: soft-light;
      background-color: #111321;
      border: 1px solid #fbb350;
      height: 100%;
      margin: 2px;
      padding: 10px;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      z-index: 2; }
    .services .service svg {
      fill: #fbb350;
      height: 120px;
      width: 120px; }
    .services .service ul {
      font-family: "Barlow", sans-serif;
      font-size: .9rem;
      line-height: 2;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      padding-left: 20px;
      text-align: left;
      -webkit-transition: .5s linear;
      transition: .5s linear; }
    .services .service:hover div {
      background-color: #0d0f1a; }
    .services .service:hover ul {
      max-height: 500px;
      opacity: 1; }

.portfolio {
  background: #e24f4f url("../imgs/backgrounds/portfolio.svg") no-repeat center;
  background-size: 100%; }
  .portfolio .options {
    background: #111321;
    margin: 3vh 0 0;
    padding: 10px 10vw;
    text-align: center;
    width: 100%; }
    .portfolio .options a {
      cursor: pointer;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .portfolio .options a:hover, .portfolio .options a:active, .portfolio .options a:focus {
        color: #fbb350; }
    .portfolio .options .active {
      color: #fbb350; }
  .portfolio .gallery {
    padding-bottom: 10vh; }
    .portfolio .gallery .work {
      margin-top: 20px;
      min-height: 200px; }
      .portfolio .gallery .work .block {
        background: url("../imgs/texture.png");
        background-blend-mode: soft-light;
        background-color: rgba(17, 19, 33, 0.5);
        height: 100%;
        outline: 1px solid transparent;
        padding: 50px 10px;
        position: relative;
        text-align: center;
        -webkit-transition: .2s linear;
        transition: .2s linear; }
        .portfolio .gallery .work .block .summary {
          font-size: 13px; }
        .portfolio .gallery .work .block img {
          margin: auto;
          max-height: 125px;
          position: relative; }
        .portfolio .gallery .work .block .caption,
        .portfolio .gallery .work .block .links {
          background: #111321;
          left: 0;
          padding: 10px;
          position: absolute;
          text-align: left;
          -webkit-transition: .2s linear;
          transition: .2s linear;
          width: 100%; }
        .portfolio .gallery .work .block .caption {
          top: 0; }
        .portfolio .gallery .work .block .year {
          color: #fbb350;
          font-family: 'Barlow', sans-serif;
          font-size: 11px;
          letter-spacing: 2px;
          margin: 0 10px;
          padding: 5px;
          position: absolute;
          right: 0;
          top: 0;
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
          -webkit-writing-mode: tb-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
          z-index: 2; }
        .portfolio .gallery .work .block .links {
          bottom: 0;
          text-align: right; }
          .portfolio .gallery .work .block .links a svg {
            height: 1rem; }
          .portfolio .gallery .work .block .links a:hover svg {
            fill: #fbb350;
            -webkit-transform: scale(1.2);
            transform: scale(1.2); }
      .portfolio .gallery .work:hover .block {
        background-color: rgba(17, 19, 33, 0.7);
        outline: 1px solid #fbb350; }
  .portfolio .btn-group {
    text-align: center; }

.contact {
  background: #111321 url("../imgs/backgrounds/contact.svg") no-repeat center;
  background-size: 100%;
  text-align: center; }
  .contact .icon-a-email {
    fill: #fbb350;
    height: 150px;
    width: 150px; }
  .contact form label {
    display: grid;
    margin-bottom: 20px;
    text-align: left; }
  .contact form input,
  .contact form textarea {
    background: url("../imgs/texture.png");
    background-blend-mode: soft-light;
    background-color: #111321;
    border: 1px solid rgba(255, 255, 255, 0.03);
    color: #fff;
    padding: 0 10px; }
    .contact form input:focus, .contact form input:active,
    .contact form textarea:focus,
    .contact form textarea:active {
      border: 1px solid #fff;
      outline: none; }
  .contact form input {
    line-height: 2;
    width: 100%; }
  .contact form textarea {
    margin-bottom: 20px;
    min-height: 200px;
    padding: 10px;
    resize: vertical; }

.footer {
  background: #0d0f1a;
  border-top: 1px solid rgba(255, 255, 255, 0.03);
  bottom: 0;
  display: block;
  left: 0;
  padding: 10px 20vw;
  position: relative;
  width: 100%;
  z-index: 2; }
  .footer .social {
    text-align: left; }
  .footer p {
    margin: 0;
    text-align: right; }

.blogs {
  background-color: #111321; }
  .blogs .nav {
    -webkit-animation: none;
    animation: none;
    background: #0d0f1a;
    margin-top: 0; }
  .blogs .title-block {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
    .blogs .title-block .title {
      display: block;
      font-size: 5rem;
      padding-right: 10px;
      width: 100%; }
    .blogs .title-block .subtitle {
      color: #fbb350;
      font-size: 3rem;
      font-style: italic; }
  .blogs .byline {
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03); }
  .blogs .post p {
    text-align: justify; }
  .blogs .post img {
    border: 2px solid #fbb350;
    display: block;
    margin: 20px; }
  .blogs .post .img-right {
    float: right;
    margin-right: 0; }
  .blogs .post .img-left {
    float: left;
    margin-left: 0; }
  .blogs .post .share {
    padding: 20px 0;
    text-align: right; }
  .blogs .code-block {
    color: #fbb350;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px; }

.social [class^='icon-']:hover {
  fill: #e24f4f;
  -webkit-transform: translateY(5px);
  transform: translateY(5px); }

.social .divider {
  background: #e24f4f;
  display: inline-block;
  height: 32px;
  margin: 0 20px;
  width: 1px; }

.font-blue {
  color: #111321; }

.font-red {
  color: #e24f4f; }

.font-gold {
  color: #fbb350; }

.font-large {
  font-size: 1.3rem; }

.separators {
  text-align: center;
  z-index: -1; }

.separator-mid {
  margin-top: -2px;
  opacity: 1 !important;
  width: 5vw;
  z-index: 1; }

.separator-left,
.separator-right {
  margin-top: -4.87805vw;
  max-width: 50vw;
  opacity: 1 !important;
  position: absolute;
  width: 20vw;
  z-index: 2; }

.separator-left {
  left: 0; }

.separator-right {
  right: 0; }

.btn-group button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  padding: 0 8px 0 13px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }
  .btn-group button:hover {
    background-color: transparent;
    border: 1px solid #fff; }
  .btn-group button svg {
    margin-bottom: -10px; }

.btn-group::after {
  clear: both;
  content: '';
  display: table; }

.no-backgroundblendmode.no-webplossless .landing {
  background: #111321; }

.no-backgroundblendmode.no-webplossless .about .description {
  background: rgba(251, 179, 80, 0.5); }

.no-backgroundblendmode.no-webplossless .about .toolkit {
  background: #111321; }

.no-backgroundblendmode.no-webplossless .services .service div {
  background: #111321; }

.no-backgroundblendmode.no-webplossless .portfolio .block {
  background: #111321; }

.no-backgroundblendmode.no-webplossless .contact form input,
.no-backgroundblendmode.no-webplossless .contact form textarea {
  background: #111321; }

.no-webplossless .landing {
  background: #111321 url("../imgs/backgrounds/landing-mountains.jpeg") no-repeat fixed center; }

@media (min-width: 0) {
  html {
    font-size: 13px; } }

@media (max-width: 425px) {
  .social .divider {
    display: none; }
  .blogs .post img {
    width: calc(100vw - 30px); } }

@media (min-width: 768px) {
  html {
    font-size: 14px; } }

@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: .1em; }
  h1 {
    padding: 2vh 0; }
  .container {
    min-width: 100vw;
    text-align: center; }
  [class^='separator-'] {
    -webkit-animation: none;
    animation: none;
    display: none; }
  .nav {
    border-bottom: 1px solid #fff; }
    .nav .row {
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .nav .nav-btn {
      background: 0;
      border: 0;
      display: inline-block;
      float: right;
      height: 62px;
      position: absolute;
      right: 10vw;
      text-align: right;
      top: 0;
      z-index: 2; }
      .nav .nav-btn label {
        display: inline-block;
        padding: 10px 10px 0; }
        .nav .nav-btn label span {
          border-top: 2px solid #fff;
          display: block;
          height: 8px;
          margin: auto;
          -webkit-transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
          width: 30px; }
      .nav .nav-btn .toggle span {
        border-color: #fbb350; }
        .nav .nav-btn .toggle span:nth-child(2) {
          width: 18px; }
        .nav .nav-btn .toggle span:nth-child(3) {
          width: 6px; }
      .nav .nav-btn:focus {
        outline: 0; }
    .nav .nav-check:not(:checked) + .row {
      height: 4em;
      overflow: hidden; }
    .nav .nav-check:checked + .row {
      height: 228px;
      overflow: hidden; }
    .nav .col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-bottom: 1px;
      padding: 10px; }
    .nav .brand {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      text-align: left; }
  .about,
  .services,
  .portfolio,
  .contact {
    background: #111321;
    border-top: 2px solid rgba(255, 255, 255, 0.03); }
  .landing .container {
    padding-top: 20vh; }
  .landing .name {
    margin-top: 5vh; }
  .landing .specialty {
    letter-spacing: .1em; }
  .landing .cta {
    margin-top: 20px; }
  .about h1 {
    margin-bottom: 0; }
  .about .container {
    padding-bottom: 0; }
  .about .toolkit {
    background: none;
    border: 0; }
    .about .toolkit .development,
    .about .toolkit .design {
      margin: 0; }
  .about .description {
    background: none; }
    .about .description .me {
      margin-bottom: -5px; }
  .services .service::after {
    content: none; }
  .services .service div {
    border: 1px solid rgba(255, 255, 255, 0.03); }
    .services .service div:hover {
      background-color: rgba(17, 19, 33, 0.5);
      border: 1px solid #fbb350; }
  .services .service svg {
    width: 90px; }
  .portfolio .options {
    background-color: rgba(255, 255, 255, 0.03); }
  .portfolio .gallery .work .block {
    background-color: #111321;
    border: 1px solid rgba(255, 255, 255, 0.03); }
  .contact .icon-a-email {
    height: 100px;
    width: 100px; }
  .contact .footer {
    padding: 10px 10vw; }
    .contact .footer .col {
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .contact .footer .social,
    .contact .footer p {
      text-align: center; }
  .blogs {
    margin-top: 5vh; }
    .blogs .title-block {
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
      .blogs .title-block .title {
        font-size: 3rem; }
      .blogs .title-block .subtitle {
        font-size: 1.5rem; }
    .blogs .post p {
      text-align: center; }
    .blogs .post .img-right,
    .blogs .post .img-left {
      float: none;
      margin: 20px auto 0 auto; }
  .footer {
    padding: 15px; } }

@media (min-width: 992px) {
  html {
    font-size: 16px; } }

@media (max-width: 992px) {
  .about .toolkit,
  .about .description {
    margin: 0 15px; }
    .about .toolkit div,
    .about .description div {
      max-width: 100%;
      text-align: center; }
  .about .description {
    border: 0; } }

@media (min-width: 1440px) {
  body {
    font-size: 18px; } }
